:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

@keyframes radar-pulse {
  0% {
    fill-opacity: 0.1;
    stroke-width: 0;
  }

  50% {
    fill-opacity: 0.4;
    stroke-width: 2;
  }

  100% {
    fill-opacity: 0.1;
    stroke-width: 0;
  }
}

.radar-pulse {
  animation: radar-pulse 2s infinite ease-in-out;
}